<div class="x_panel">
    <div class="x_content">
        <button ng-click="vm.deleteAll()" type="button" class="btn btn-danger pull-right">Delete All</button>
        <button type="button" class="btn btn-danger pull-right">Delete Selected</button>

        <table ng-show="vm.loading == false && vm.photos.length > 0" class="table table-striped table-bordered">
            <tr>
                <th class="text-center">
                    <label><input type="checkbox"></label>
                </th>
                <th class="text-center">Image</th>
                <th class="text-center">Info</th>
                <th class="text-center">Actions</th>
            </tr>

            <tr ng-repeat="photo in vm.photos">
                <td class="text-center">
                    <label><input type="checkbox"></label>
                </td>
                <td class="col-xs-1">
                    <img ng-src="{{photo.thumbnailSrc}}" alt="{{photo.alt}}">
                </td>
                <td class="col-xs-9">
                    <div class="col-xs-12 col-lg-4 form-group">
                        <label class="control-label">Title</label>
                        <span class="help-block">{{photo.title}}</span>
                    </div>
                    <div class="col-xs-12 col-lg-4 form-group">
                        <label class="control-label">Caption</label>
                        <span class="help-block">{{photo.caption}}</span>
                    </div>
                    <div class="col-xs-12 col-lg-4 form-group">
                        <label class="control-label">Alt</label>
                        <span class="help-block">{{photo.alt}}</span>
                    </div>
                </td>
                <td class="col-xs-1 text-center">
                    <button ng-click="vm.openEditModal(this)" type="button" class="btn btn-primary">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button ng-click="vm.openDeleteModal(this)" type="button" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </table>

        <div ng-show="vm.loading == false && vm.photos.length == 0"class="jumbotron text-center">
            <h1>There are no photos!</h1>
        </div>
    </div>
</div>