<!DOCTYPE html>
<html lang="pl">
<head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="/css/vendor/blueimp-gallery/blueimp-gallery.css">
    <link rel="stylesheet" href="/css/vendor/blueimp-gallery/blueimp-gallery-indicator.css">

    <title>Photos | Edit</title>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <% include ../partials/left-menu.ejs%>
        <% include ../partials/top-menu.ejs %>

        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Photos | Edit</h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <hr/>

                <% if (photos.length > 0) { %>

                        <% for (var i = 0; i < photos.length; i++) { %>

                        <div style="display: inline-block; margin: 0; padding: 0;">
                            <img style="display: block; margin: 5px;" id="photo-src" src="<%= photos[i].thumbnailSrc %>" alt="<%= photos[i].title %>">

                            <div style="margin: 5px;" class="btn-group">
                                <button type="button" title="Edit" href class="btn-edit btn btn-primary btn-xs"><span class="fa fa-edit"></span></button>
                                <button type="button" title="Delete" href class="btn-delete btn btn-danger btn-xs"><span class="fa fa-remove"></span></button>
                            </div>
                            <div style="margin: 0; display: inline-block;" class="checkbox pull-right">
                                <label><input title="Select Photo" type="checkbox" value=""></label>
                            </div>

                        </div>

                        <% } %>


                <% } else { %>

                    <div class="jumbotron text-center">
                        <h1>There are no photos!</h1>
                    </div>

                <% } %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/scripts.ejs %>
<script src="/js/vendor/blueimp-gallery/blueimp-gallery.js"></script>
<script src="/js/vendor/blueimp-gallery/blueimp-gallery-fullscreen.js"></script>
<script src="/js/vendor/blueimp-gallery/blueimp-gallery-indicator.js"></script>
<script src="/js/vendor/blueimp-gallery/blueimp-helper.js"></script>
<script src="/js/scripts/ui/photos/show_ui.js"></script>
</body>
</html>
