<div class="container-fluid">
    <div class="form-group">
        <label class="control-label">Title</label>
        <input class="form-control" ng-model="photo.title" type="text">
    </div>

    <div class="form-group">
        <label class="control-label">Caption</label>
        <input class="form-control" ng-model="photo.caption" type="text">
    </div>

    <div class="form-group">
        <label class="control-label">Alt</label>
        <input class="form-control" ng-model="photo.alt" type="text">
    </div>
</div>