<!DOCTYPE html>
<html lang="pl">
    <head>
        <% include ../partials/head.ejs %>

        <title>Photos | Edit</title>
    </head>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <% include ../partials/left-menu.ejs%>
                <% include ../partials/top-menu.ejs %>

                <div class="right_col" role="main">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Photos | Edit</h3>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <hr/>

                        <% if (photos.length > 0) { %>
                            <% for (var i = 0; i < photos.length; i++) { %>
                                <img src="<%= photos[i].thumbnailSrc %>" alt="<%= photos[i].title %>">
                            <% } %>
                        <% } else {%>
                            <div class="jumbotron text-center">
                                <h1>There are no photos!</h1>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <% include ../partials/scripts.ejs %>
    </body>
</html>
