<!DOCTYPE html>
<html lang="pl">
    <head>
        <% include ../partials/head.ejs %>
        <link href="/css/vendor/dropzone/dropzone.css" rel="stylesheet">
        
        <title>Photos | New</title>
    </head>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <% include ../partials/left-menu.ejs%>
                <% include ../partials/top-menu.ejs %>

                <div class="right_col" role="main">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Photos | New</h3>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <form action="/photos/new" class="dropzone"></form>
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include ../partials/scripts.ejs %>
        <script src="/js/vendor/dropzone/dropzone.min.js"></script>
    </body>
</html>
