<!DOCTYPE html>
<html lang="pl">
    <head>
        <% include partials/head.ejs %>
        <title>Index</title>
    </head>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <% include partials/left-menu.ejs %>
                <% include partials/top-menu.ejs %>

                <div class="right_col" role="main">
                    <div class="row title_count">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Main Page</h3>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="row">
                            <% for(var i = 0; i < 9; i++) { %>
                                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h2>Title<%= (i + 1) %></h2>
                                        </div>
                                        <div class="panel-body">
                                            BODY
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include partials/scripts.ejs %>
    </body>
</html>
