<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Photos</title>
    </head>

    <body>
        <% for (var i = 0; i < photos.length; i++) { %>
            <div><%= photos[i].name %></div>
        <% } %>
    </body>

    <script src="/js/vendor/jquery/jquery.js"></script>
</html>