<!doctype html>
<html lang="pl" ng-app="signup">
    <head>
        <% include partials/head.ejs %>
        <title>Sign Up</title>
    </head>

    <body class="login">
    <div class="login_wrapper">
        <div class="login_form">
            <section class="login_content">
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>

                <form name="signup" method="post" action="/signup" novalidate>
                    <h1>Sign Up</h1>

                    <div>
                        <span class="col-xs-12" ng-show="signup.email.$error.required && signup.email.$dirty">
                            <label class="error-message">Email is required!</label>
                        </span>
                        <span class="col-xs-12" ng-show="signup.email.$invalid && signup.email.$dirty">
                            <label class="error-message">Email is invalid!</label>
                        </span>

                        <input type="email" class="form-control" name="email" ng-model="vm.email" placeholder="Email" required/>
                    </div>

                    <div>
                        <span class="col-xs-12" ng-show="signup.login.$error.required && signup.login.$dirty">
                            <label class="error-message">Login is required!</label>
                        </span>
                        <input type="text" class="form-control" name="login" ng-model="vm.login" placeholder="Login" required/>
                    </div>

                    <div>
                        <span class="col-xs-12" ng-show="signup.password.$error.required && signup.password.$dirty">
                            <label class="error-message">Password is required!</label>
                        </span>
                        <input type="password" class="form-control" name="password" ng-model="vm.password" placeholder="Password" required/>
                    </div>

                    <div>
                        <button ng-disabled="signup.$invalid" type="submit" class="btn btn-default">Sign Up</button>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">Already a member ?
                            <a href="/login" class="to_register"> Log in </a>
                        </p>

                        <div class="clearfix"></div>
                        <br />
                    </div>
                </form>
            </section>
        </div>
    </div>

    <% include partials/scripts.ejs %>
    <script src="/js/scripts/signup/controllers/SignUpController.js"></script>

    </body>
</html>
